build/bin
node_modules
frontend/dist

*.exe
*.dll

frontend/wailsjs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

*.yaml
*.yml

!config.example.yaml
!config.example.yml

.vscode/

Thumbs.db

*.log
*.log*
*.swp